/* body {
  background-color: aqua;
}
.continer {
  background-color: blue;
}
.form-group {
  position: relative;
}
.astrisx {
  position: absolute;
  float: left;
  top: 35px;
  right: 20px;
  color: #993841;
  font-size: 20px;
} */
